/*ul {
	float: left;
}*/

li {
	list-style: none;
}

.container {
	margin-top: 100px;
}

.list-group {
	width: 310px;
	float: left;
	margin-bottom: 57px;
}

	.list-group-item {
		padding: 30px 15px;
		cursor: pointer;
	}

	.list-group-item:hover {
		background: rgba(0, 0, 0, .01);
	}

.alert {
	width: 200px;
	padding: 5px;
	margin-bottom: 1px;
}

.btn {
	display: block;
	clear: left;
}

.full-list {
	width: 250px;
	position: relative;
	float: left;
}

.full-list:after {
	content: '';
	display: table;
	clear: both;
}

	span {
		position: absolute;	
		font-weight: bold;
		cursor: pointer;
		bottom: 0;
		right: 0
	}